.containers {
  margin-top: 50px;
  box-sizing: border-box;
}

.header {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  color: whitesmoke;
}

/* .inline_header {
  margin-top: 1cm;
} */

.h1 {
  margin-top: 1cm;
  padding: 20px;
  text-shadow: 3px 3px 3px darkgreen, 1rem 0 1rem white, 1rem 0 1rem yellow;
}

.labs {
  text-transform: none;
}

.parag {
  display: flex;
  margin-top: 100px;
  text-align: left;
  text-shadow: none;
  line-height: 20px;
  letter-spacing: 1.3px;
  color: white;
  justify-content: space-between;
}

.left_parag {
  width: 100%;
  max-width: 500px;
  text-overflow: wrap;
  position: relative;
  top: 0;
  left: 150px;
}

.right_parag {
  width: 100%;
  max-width: 500px;
  text-overflow: wrap;
  position: relative;
  top: 0;
  right: 150px;
}

.list-title {
  padding-left: 20px;
}

.list-text {
  display: list-item;
  margin-left: 20px;
  padding-left: 5px;
  list-style-type: circle;
  text-shadow: none;
  line-height: 18px;
}

.practice {
  display: inline-flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.handson-lab {
  /* margin-top: 50px; */
  text-shadow: none;
  border: thin solid yellowgreen;
  background: seashell;
  height: 100%;
  min-height: 50px;
  padding: 20px;
  margin-left: 100px;
  margin-bottom: 50px;
}

#handson-exercise {
  text-decoration: none;
}

.btn {
  margin-left: 20px;
}

.btn:hover {
  opacity: 0.7;
}

.lab-text {
  color: darkorange;
}
