/* .labs {
  text-decoration: none;
  margin-top: 50px;
  display: block;
}
.header {
  width: 100%;
  max-width: 500px;
  text-overflow: hidden;
}

.handson-lab {
  margin-left: 60px;
}

.handson-three,
.handson-four,
.handson-five {
  text-decoration: none;
} */
