{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1 shrink-to-font=no"
    />
    <title>Django App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <!-- It is body content of the base.html -->
    {% block pagecontent %}
    <header class="header">
      <h1 class="h1">Developing Application with SQL, Databases and Django</h1>
      <img
        class="main_img"
        src="{% static 'images/main_img.png' %}"
        alt="mainimage"
      />
      <img
        src="{% static 'images/logo_Q.png' %}"
        class="main_badge"
        alt="badge"
      />
    </header>
    {% endblock %}
  </body>
</html>
