{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Django App</title>
  </head>
  <body>
    <!-- It is body content of the base.html -->
    {% block pagecontent %}
    <header class="header_main">
      <h1 class="main_h1">
        Developing Application with SQL, Databases and Django
      </h1>
      <img
        class="main_img"
        src="{% static 'images/main_img.png' %}"
        alt="mainimage"
      />
      <img
        src="{% static 'images/logo_Q.png' %}"
        class="main_badge"
        alt="badge"
      />
    </header>
    {% endblock %}
  </body>
</html>
