{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}RDBMS{% endblock %}</title>
  </head>
  <body>
    {% block pagecontent %}
    <div class="containers week2">
      <div class="labs">
        <div class="header">
          <h1 class="h1"></h1>
        </div>
        <div class="parag">
          <div class="left_parag">
            Django testing url routing for multiple apps in a project.
          </div>
        </div>
        <div class="practice">
          <div class="rounded-3 handson-lab">
            Hands-on Lab
            <br /><br />
            <span class="lab-text"> </span>
            <button class="btn bg-primary">
              <a
                class="p-3 text-white"
                id="handson-exercise"
                rel="noopener noreferrer"
                target="_blank"
                href="{% url 'lab2:popular_course_list' %}"
                >Dive</a
              >
              <!--{% comment %}  {% endcomment %}-->
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
