{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Deploy Django App{% endblock %}</title>
    <!-- {% comment %} {% block extralink %}
    <link
      rel="stylesheet"
      href="{% static 'css/templ_css/week1.css' %}"
      type="text/css"
    />
    <script src="{% static 'js/week4.js' %}"></script>
    {% endblock %} {% endcomment %} -->
  </head>
  <body>
    {% block pagecontent %}
    <div class="containers week4">
      <div class="labs">
        <div class="header">
          <h1 class="h1">Django routes url is very sensitive 😴</h1>
        </div>
        <div class="parag">

        </div>
        <div class="practice">
          <div class="rounded-3 handson-lab">
            Hands-on Lab
            <br />
            <br />
            <span class="lab-text"></span>
            <button class="btn bg-primary">
              <a
                class="p-3 text-white"
                id="handson-exercise"
                rel="noopener noreferrer"
                target="_blank"
                href="{%url 'lab4:popular_course_list3'%}"
                >Dive</a
              >
            </button>
          </div>
          <!-- {% comment %} <div class="rounded-3 handson-lab">
            Hands-on Lab
            <br />
            <br />
            <span class="lab-text">User SignUp and SignIn:</span>
            <button class="btn bg-primary">
              <a
                class="p-3 text-white"
                id="handson-exercise"
                rel="noopener noreferrer"
                target="_blank"
                href="{% url 'home' %}"
                >Dive</a
              >
            </button>
          </div>
          <div class="rounded-3 handson-lab">
            Hands-on Lab
            <br />
            <br />
            <span class="lab-text">Bootstrap Integration: </span>
            <button class="btn bg-primary">
              <a
                class="p-3 text-white"
                id="handson-exercise"
                rel="noopener noreferrer"
                target="_blank"
                href="{% url 'home' %}"
                >Dive</a
              >
            </button>
          </div> {% endcomment %} -->
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
