/* CSS:  test replacing * to tag */
* { user-select: none; }
*::selection { background: none; }
*::-moz-selection { background: none; }


body {
   background: aliceblue;
}

.container {
    background: #eac656;
    margin: 10 10 10 10;
    border: 3px solid black;
}


.nav a {
    background: #dedede;
}

a {
   text-decoration: none;
   margin-left: 15px;
}
